body {
    background: url("https://i.pinimg.com/originals/6b/6d/c2/6b6dc2cf132ca0e9fc1ad397e59edb68.gif");
    background-size: cover;
}

h1 {
    color:azure;
    font-family: 'Courier New';
    text-align: center;
}

p {
    text-align: center;
}

.spotify {
    vertical-align: text-bottom;
}

.hyperlinks {
    text-align: center;
    font-family: 'Courier New'
}

a:link {
    color:azure;
}

a:visited {
    color:azure;
}

a:hover {
    color:rgb(218, 255, 255);
}

a:active {
    color:azure
}